html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

table {
    border-collapse: collapse;
    word-break: break-word;
}

td {
    border: 1px solid;
}

h2 {
	font-size: 1.2em;
	color: green;
}

.hidden {
	display: none;
}

div#map {
    width: 100%;
    height: 100%;
}

div#stops-list {
    overflow: auto;
}

div#stops-list td {
    padding: 0px;
}

div#stops-list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

div#stops-list li {
    list-style-type: none;
}

div#stops-list td a{
    color: inherit;
}

.feature_yes {
    color: green;
}

.feature_no {
    color: red;
}

.feature_limited {
    color: orange;
}

.feature_undefined {
    color: grey;
}

.wheelchair {
    font-size: 1.6em;
}

li[class*='_route'] {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style-type: none;
}

li[class*='_route']>span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.selected_route {
    font-weight: bold;
}

#dlForm {
    display: table;
    border-spacing: 0px 10px;
    width: 100%;
}

.input-table>div {
    display: table-row;
}

.input-table>div>label {
    display: table-cell;
}

.input-table>div>input {
    display: table-cell;
}

.input-table>div>input[type="text"] {
    width: 100%;
}

.sidebar-header {
    margin-bottom: 15px;
}

div#data-status {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    padding-left: 20px;
}

/* Stolen from bootstrap ! */
div#data-status.error {
    background-color: #f2dede;
    color: #a94442;
}

div#data-status.info {
    background-color: #d9edf7;
    color: #31708f;
}

div#data-status.warning {
    background-color: #fdd608;
    color: #8a6d3b;
}

div#routes_list>ul {
    padding-left: 0px;
}

ul#stops-list {
    list-style-type: none;
    padding-left: 0px;
}

ul#stops-list img, div#routes_list ul>li img {
    max-height: 0.8em;
    margin-right: 10px;
}

ul#stops-list ul {
    list-style-type: none;
}

ul#stops-list ul span{
    cursor: pointer;
}

.route_master-name {
    font-weight: bold;
    font-size: 19px;
}

#routemaster-select {
    max-width: 100%;
}

table.tags {
    width: 100%;
    font-family: monospace;
    font-size: 12px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
    min-width: 250px;
}

table.tags td.key {
    width: 120px;
    background: rgba(0, 0, 0, 0.06);
    word-wrap: break-word;
}