div#header a {
    text-decoration: none;
    color: green;
}

#header {
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.hidden {
	display: none;
}

h2 {
	font-size: 1.2em;
	color: green;
}

div#map {
    height: 640px;
    width: 49%; /* Try to use 50% */
    float: left;
}

div#data_display {
    width: 40%;
    float: left;
}

.featureYes {
    color: green;
}

.featureNo {
    color: red;
}

li.bus_route, li.trolleybus_route {
    list-style-image: url('../lib/osmic/bus-stop-14.png');
}

li.tram_route {
    list-style-image: url('../lib/osmic/tram-stop-14.png');
}

li.subway_route {
    list-style-image: url('../lib/osmic/metro-14.png');
}

li.railway_route {
    list-style-image: url('../lib/osmic/railway-station-14.png');
}
