html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid;
}

h2 {
	font-size: 1.2em;
	color: green;
}

.hidden {
	display: none;
}

div#map {
    width: 100%;
    height: 100%;
}

div#stops_list {
    overflow: auto;
}

div#stops_list td {
    padding: 0px;
}

#stops_list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#stops_list li {
    list-style-type: none;
}

div#stops_list td a{
    color: inherit;
}

.feature_yes {
    color: green;
}

.feature_no {
    color: red;
}

.feature_limited {
    color: orange;
}

.feature_undefined {
    color: grey;
}

.wheelchair {
    font-size: 1.6em;
}

li[class*='_route'] {
    cursor: pointer;
}

li.bus_route, li.trolleybus_route {
    list-style-image: url('../lib/osmic/bus-stop-14.png');
}

li.tram_route {
    list-style-image: url('../lib/osmic/tram-stop-14.png');
}

li.subway_route {
    list-style-image: url('../lib/osmic/metro-14.png');
}

li.railway_route {
    list-style-image: url('../lib/osmic/railway-station-14.png');
}

.selected_route {
    font-weight: bold;
}

#dlForm {
    display: table;
}

#dlForm>p {
    display: table-row;
}

#dlForm>p>label {
    display: table-cell;
}

#dlForm>p>input {
    display: table-cell;
}
