div#header a {
    text-decoration: none;
    color: green;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div#page {
    position: relative;
    height: 100%;
}

#header {
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.hidden {
	display: none;
}

h2 {
	font-size: 1.2em;
	color: green;
}

div#content {
    height: 60%;
}

div#map {
    float: left;
    height: 100%;
    width: 50%;
}

div#data_display {
    float: left;
    width: 50%;
    overflow-y: auto;
    height: 100%;
}

#stops_list td a{
    color: inherit;
}

.feature_yes {
    color: green;
}

.feature_no {
    color: red;
}

.feature_undefined {
    color: grey;
}

.wheelchair {
    font-size: 1.6em;
}

li.bus_route, li.trolleybus_route {
    list-style-image: url('../lib/osmic/bus-stop-14.png');
}

li.tram_route {
    list-style-image: url('../lib/osmic/tram-stop-14.png');
}

li.subway_route {
    list-style-image: url('../lib/osmic/metro-14.png');
}

li.railway_route {
    list-style-image: url('../lib/osmic/railway-station-14.png');
}
